@use '../abstracts/utilities';
@use '../layout/container';

@mixin nav-background {
  background-color: hsl(0 0% 100% / 4%);
  backdrop-filter: blur(10px);
}

.header {
  --container-max-width: 70%;

  @include container.container;

  margin-top: utilities.size('700');

  &::after {
    @include nav-background;

    content: '';
    align-self: stretch;
  }

  &__logo {
    display: block;
    grid-column-start: 1;
    justify-self: center;
    align-self: center;
  }

  &__nav {
    &::before {
      content: '';
      flex-grow: 1;
      height: 2px;
      background-color: utilities.color('light');
      opacity: 0.2;
      align-self: center;
      margin-right: -#{utilities.size('500')};
      z-index: 2;
    }
  }
}
