@use '../abstracts/utilities';
@use '../layout/container';

.header {
  --container-max-width: 70%;

  @include container.container;

  margin-top: utilities.size('700');

  &::after {
    content: '';
    align-self: stretch;
    background-color: hsl(0, 0%, 100%);
    opacity: 0.04;
    backdrop-filter: blur(2px);
  }

  &__logo {
    display: block;
    grid-column-start: 1;
    justify-self: center;
    align-self: center;
  }

  &__nav {
    &::before {
      content: '';
      flex-grow: 1;
      height: 2px;
      background-color: utilities.color('light');
      opacity: 0.2;
      align-self: center;
      margin-right: -#{utilities.size('500')};
      z-index: 1;
    }
  }
}
