@use '../abstracts/utilities';
@use '../components/button';

.skip-link {
  @include button.button;

  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -120%);
  transition: all 0.2s linear;
  opacity: 0;
  z-index: 2;

  &::before {
    content: '';
    position: absolute;
    bottom: 100%;
    width: 4px;
    height: 100px;
    opacity: 0.1;
    background-color: utilities.color('light');
    pointer-events: none;
  }
}

.skip-link:focus {
  transform: translate(-50%, 30%);
  opacity: 1;
}
