@use 'sass:map';
@use '../abstracts/utilities' as utils;

:root {
  --scrollbar-track-color: rgb(19, 19, 19);
  --scrollbar-thumb-color: hsla(0, 0%, 93%, 0.572);
}

html {
  overflow-x: hidden;
}

body {
  line-height: utils.leading('loose');
  letter-spacing: utils.kerning('400');
  font-family: utils.font('body');
  color: utils.color('accent');
  background-color: utils.color('dark');
  font-size: utils.size('400');
}

p,
h1,
h2,
h3,
h4,
h5 {
  text-transform: uppercase;
  font-weight: 400;

  &:first-child {
    margin-top: 0;
  }
}

h1,
h2,
h3,
h4 {
  font-family: utils.font('heading');
}

h1 {
  font-size: utils.size('900');
}

h2 {
  font-size: utils.size('800');
}

h3 {
  font-size: utils.size('700');
}

h4 {
  font-size: utils.size('600');
}

h5 {
  font-size: utils.size('500');
  font-family: utils.font('accent');
}

.subheading-1 {
  font-size: utils.size('500');
  font-family: utils.font('heading');
}

.subheading-2 {
  font-size: utils.size('300');
  font-family: utils.font('accent');
}

:focus-visible {
  outline: 2px solid utils.color('light');
  outline-offset: 0.25rem;
}

::selection {
  color: utils.color('dark');
  background-color: utils.color('light');
}

// Scrollbar
html {
  /* Foreground, Background */
  scrollbar-color: var(--scrollbar-thumb-color) var(--scrollbar-track-color);
  scrollbar-width: thin;
}

::-webkit-scrollbar {
  width: 10px; /* Mostly for vertical scrollbars */
  height: 10px; /* Mostly for horizontal scrollbars */
}
::-webkit-scrollbar-thumb {
  /* Foreground */
  background: var(--scrollbar-thumb-color);
  border-radius: 0.5rem;
  border: 2px solid var(--scrollbar-track-color);
}
::-webkit-scrollbar-track {
  /* Background */
  background: var(--scrollbar-track-color);
}
