// ==== Colors ====
$colors: (
  'light': hsl(0deg 0% 100%),
  'dark': hsl(230deg 35% 7%),
  'accent': hsl(231deg 77% 90%),
);

// ==== Typography ====
// Font sizes
$base-size: 1.125rem; // 18px by default
$size-scale: (
  // 14.4px
  '300': $base-size * 0.8,
  // 18px
  '400': $base-size,
  // 28px
  '500': $base-size * 1.55,
  // 32px
  '600': $base-size * 1.77,
  // 56px
  '700': $base-size * 3.11,
  // 100px
  '800': $base-size * 5.56,
  // 150px
  '900': $base-size * 8.33
);

// Font families
$font-stacks: (
  'heading': '"Bellefair", serif',
  'accent': '"Barlow Condensed", sans-serif',
  'body': 'Barlow, sans-serif',
);

// Font weights
$font-weights: (
  'normal': 400,
  'bold': 700,
);

// Line heights
$leading: (
  'flat': 1,
  'loose': 1.77,
);

// Letter spacing
$kerning: (
  '400': 0.15px,
  '500': 2.35px,
  '600': 2.7px,
  '700': 4.75px,
);

// ==== Breakpoints ====
$breakpoints: (
  'for-phone-only': 'max-width: 599px',
  'for-tablet-portrait-up': 'min-width: 600px',
  'for-tablet-landscape-up': 'min-width: 900px',
  'for-desktop-up': 'min-width: 1200px',
  'for-big-desktop-up': 'min-width: 1800px',
);
