<button aria-controls="{{ navId }}" aria-expanded="false" aria-label="Menu" class="hamburger hamburger--3dx{% if className %} {{ className }}{% endif %}" type="button">
  <span class="hamburger-box">
    <span class="hamburger-inner"></span>
  </span>
</button>