<a class="skip-link" href="#main-content">
  <span>Skip<br>
    to<br>
    content</span>
</a>
<header class="header">
  <a aria-label="Home" class="header__logo" href="/">
    {% include "partials/logo.svg" %}
  </a>
  {% assign navId = "nav-list" %}
  <nav aria-label="Primary" class="header__nav">
    {% include "partials/hamburger", className: "header__hamburger" navId: navId %}
    <ul class="header__nav-list" id="{{ navId }}">
      {% for item in navigation.items %}
        {% assign isCurrent = item.url == page.url %}
        <li class="header__nav-item{% if isCurrent %} header__nav-item--current-page{% endif %}">
          <a class="header__nav-link" href="{{ item.url }}" {% if isCurrent %} aria-current="page" {% endif %}>
            <span aria-hidden class="header__nav-link-number">0{{ forloop.index0 }}</span>
            {{ item.text }}</a>
        </li>
      {% endfor %}
    </ul>
  </nav>
</header>